body {
    background-color: #f3f4f8;
    background: url(../images/bg.png) fixed;
    background-size: contain;
    font-family: "Barlow Semi Condensed", sans-serif !important;
}

/**{
    border:1px solid red;
}*/
/*********navbar*********/
body>header>div>div>nav>a>img {
    position: absolute;
}

div.container1 {
    font-family: Raleway;
    margin: 0 auto;
    padding: 30px;
    text-align: right;
}

body>nav>a {
    margin-left: 13rem;
}

div.container1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px 10px;
    font-weight: 500;
    position: relative;
    z-index: 0;
    text-shadow: 1px 2px 2px black;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Barlow Semi Condensed", sans-serif !important;
}

.navbar-fixed-top.scrolled {
    background-color: #0c2949 !important;
    transition: background-color 200ms linear;
    box-shadow:none !important;
}

.bg-navbar {
    background-color: transparent;
    position: fixed;
    z-index: 3333;
    padding: 0px !important;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Top and Bottom borders come in */
div.topBotomBordersIn a:before,
div.topBotomBordersIn a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before {
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after {
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before,
div.topBotomBordersIn a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Top border go down and Left border appears */
div.topLeftBorders a:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 0px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 1;
    transition: all 0.3s;
}

div.topLeftBorders a:hover:before {
    height: 100%;
}

div.topLeftBorders a:hover:after {
    opacity: 0;
    top: 100%;
}

/* Circle behind */
div.circleBehind a:before,
div.circleBehind a:after {
    position: absolute;
    top: 22px;
    left: 50%;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 123, 255, .5);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.circleBehind a:after {
    border-width: 2px;
    transition: all 0.4s;
}

div.circleBehind a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.circleBehind a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/****bread*****/
body>nav:nth-child(2) {
    position: absolute;
    width: 100%;
}

/* Brackets go out */
div.brackets a:before,
div.brackets a:after {
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before {
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

div.brackets a:after {
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
    opacity: 1;
    transform: translateX(0px);
}


/* Border from Y to X  */
div.borderYtoX a:before,
div.borderYtoX a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX a:before {
    left: 0px;
    top: 0px;
}

div.borderYtoX a:after {
    right: 0px;
    bottom: 0px;
}

div.borderYtoX a:hover:before,
div.borderYtoX a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* Border X get width  */
div.borderXwidth a:before,
div.borderXwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before {
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after {
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before,
div.borderXwidth a:hover:after {
    opacity: 1;
    width: 100%;
}

body>section.countarup_area.mt-75>div>h2>span {
    font-size: 30px;
    text-transform: capitalize;
}

/* Pull down  */
div.pullDown a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before {
    height: 100%;
}

/* Pull up  */
div.pullUp a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUp a:hover:before {
    height: 100%;
}

/* Pull right  */
div.pullRight a:before {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRight a:hover:before {
    width: 100%;
}

/* Pull left  */
div.pullLeft a:before {
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullLeft a:hover:before {
    width: 100%;
}

/* Pull up and down  */
div.pullUpDown a:before,
div.pullUpDown a:after {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullUpDown a:before {
    top: 0px;
}

div.pullUpDown a:after {
    bottom: 0px;
}

div.pullUpDown a:hover:before,
div.pullUpDown a:hover:after {
    height: 100%;
}

/* Pull right and left  */
div.pullRightLeft a:before,
div.pullRightLeft a:after {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullRightLeft a:before {
    left: 0px;
}

div.pullRightLeft a:after {
    right: 0px;
}

div.pullRightLeft a:hover:before,
div.pullRightLeft a:hover:after {
    width: 100%;
}

/* Highlight text out  */
div.highlightTextOut a {
    color: rgba(255, 255, 255, 0.3);
}

div.highlightTextOut a:before,
div.highlightTextIn a:before {
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

div.highlightTextOut a:hover:before,
div.highlightTextIn a:hover:before {
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a {
    color: rgba(0, 0, 0, 0.4);
}

div.highlightTextIn a:before {
    transform: scale(1.2);
}


.title-text span {
    text-transform: uppercase;
    font-family: "Barlow Semi Condensed", sans-serif !important;
    font-size: 3rem;
    letter-spacing: 0px;
    color: #0c2946;
    line-height: 2em;
    margin: 0;
    font-weight: bold;
}

.fantasy_area .fantasy_inner .fantasy a:hover,
.fantasy_area .fantasy_inner .fantasy a:focus {
    color: #358dc2;
}

.fantasy_area .fantasy_inner .fantasy .icons:after {
    display: none;
}

.fa_2 .fantasy_inner .fantasy .icons {
    background: #fff !important;
    color: #358dc2 !important;
    box-shadow: 0px 3px 8px 0px rgba(164, 109, 253, 0.35);
}

.banner_area p {
    max-width: 650px;
    padding-top: 85px;
    padding-bottom: 277px;
    font-family: "Barlow Semi Condensed", sans-serif !important;

}

.banner_area .bannar_img {
    top: 189px;
}

.banner_area {

    padding: 150px 0 0;
}

body>footer>div>div.col-md-12>div>div.col-md-5.col-sm-12.mt-lg-5.pt-lg-5.mt-3>div.footer_widget.wow.fadeIn.mt-5>p {
    letter-spacing: .5px;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 500;
}

/***********************************************/

/*==================Icons================= */
.mb20 {
    margin-bottom: 20px !important;
}

.mt32 {
    margin-top: 32px !important;
}

.size20 {
    font-size: 20px;
}

/* footer social icons */
* ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

footer {
    background-color: #0c2949 !important;

}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}

body>footer>div>div.col-md-12>div>div.col-md-4.mt-lg-5.pt-lg-3.wow.fadeIn>div>div>div.icon-content>a>i {
    font-size: 1.5rem !important;
    color: #a8aeb4c4 !important;
    margin-right: 0.5rem;

}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 17px;
}

.social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
}

.footer_area .round_shap {

    z-index: 1;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;

}

.bg-cercl {
    background-color: rgba(0, 0, 0, 0.25);
}

/***********************************************/


/*******************************contact***********************/



.normal-btn {
    font-weight: 500;
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: white;
    float: right;
    background-color: #0c2949;
    padding: 0.5rem 2.5rem;
}

.normal-btn:hover {
    background-color: #0c2949 !important
}

body>section.our_works_area>div>div>div.col-lg-12.work_contant.mt-lg-5>div>div>div>div>div.col-lg-5>h2>span {
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0px;
    color: #137ab7;
}

body>section.our_works_area>div>div>div.col-lg-12.work_contant.mt-lg-5>div>div>div>div>div.col-lg-5>button {
    font-weight: 500;
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 1.25rem;
    color: white;
    margin-right: 40%;
    margin-top: 2rem;
    background-color: #137ab7;
    padding: 0.15rem 1rem;
}







.z-index {
    z-index: 1 !important;
}

.rect_shap {
    position: absolute;
    left: 175px;
    top: 260px;
    height: 25px;
    width: 25px;
    border-radius: 19%;
    background: #a8b1ba57;
    animation: heartbeat 0.5s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
    z-index: 1;
}

.round_shap {
    position: absolute;
    left: 175px;
    top: 260px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #007bff57;
    animation: heartbeat 0.5s cubic-bezier(0.245, 0.325, 0.51, 1.305) infinite alternate;
    z-index: -1;
}

.cercle {
    content: "";
    position: absolute;
    box-shadow: 0px 18px 27px 0px rgba(203, 203, 203, 0.35);
    background: #eaddff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: -1;
    left: -24px;
    bottom: -20px;
    -webkit-animation: moveRound 20s linear 2s infinite alternate;
    animation: moveRound 20s linear 2s infinite alternate;
}

/*******************************fincontact***********************/


.padding-onlytop-sm {
    padding-top: 25px !important;
}

.padding-onlybottom-md {
    padding-bottom: 10px !important;
}

/*****************************service*******************/
.bg-service {
    background: url(../images/left-green.png) no-repeat right top;
}

.fantasy {
    box-shadow: 16px 42px 27px 22px rgba(215, 215, 215, 0.35);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px 35px 65px 65px;
    background: white url(../images/fantasy-1.png) no-repeat bottom right !important;
    position: relative;
    z-index: 1;
}

/***counter***/

.countarup_area .countraup_item h3 {
    font-size: 21px;
    letter-spacing: 3px;
    line-height: 1.5;
    color: white !important;
    display: block;
    font-family: "Barlow Semi Condensed", sans-serif !important;
    padding-top: 0;
}

.countarup_area .countraup_item {
    padding-top: 45px;
    background-color: #0c2949 !important;
}

/* ==========================================================================
                            [09] Team
   ========================================================================== */

.team {
    background: url('../img/decor/left-purple.png') no-repeat bottom left;
}

.team .container {
    border-radius: 9px;
    padding: 80px 100px 100px 100px;

    background-color: transparent;
    -webkit-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
    -moz-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
    -ms-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
    -o-box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
    box-shadow: 0 72px 164px 0 rgba(45, 54, 95, 0.05);
}

.team-image img {
    mix-blend-mode: luminosity;
    width: 100%;
    height: auto;
    transition: all 400ms ease;
}

figure {
    overflow: hidden;
}


.team-text {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -10%;
    width: 80%;
    text-align: center;
    z-index: 1;
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 25px 25px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
    border-radius: 8px;
}

.team-text h3 {
    color: #F3F4F8;
    text-transform:capitalize;

}

.team-text p {
    margin-bottom: 5px;
    color: #fff;
}

.team-item:hover img {
    mix-blend-mode: normal;
}

.team-item:hover .team-text {
    opacity: 1;
}

.team-item figure img {
    margin-left: 30px;
    padding-top: 3rem !important;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.team-item:hover figure img {
    margin-left: 0;
}

ul.team-social {
    padding: 0;
    margin: 0;
}

ul.team-social li {
    font-size: 13px;
    display: inline;
    margin: 3px;
}

body>section.countarup_area>div>div>div>div>img {
    width: 30%;
}

.green-gradient {
    margin-top: 5rem;
    background-image: -moz-linear-gradient(135deg, rgb(157, 255, 212) 0%, rgb(82, 205, 197) 100%);
    background-image: -webkit-linear-gradient(135deg, #0e0f11, #545457, #121314 100%);
    background-image: -ms-linear-gradient(135deg, rgb(157, 255, 212) 0%, rgb(82, 205, 197) 100%);
}

/***
.team-text {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -10%;
    width: 80%;
    text-align: center;
    z-index: 1;
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 25px 25px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
    border-radius: 8px
}****/
.team-text {
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    bottom: -14%;
    width: 80%;
    margin-top: -42%;
    text-align: center;
    z-index: 1;
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 25px 25px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
    border-radius: 8px;
}

.team-item:hover .team-text {
    opacity: 1;
}

/**.team {
    background: url(../images/about-3.png) no-repeat;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 100px;
}**/

div.team-text.green-gradient>p {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.mt-75 {
    margin-top: 100px;
}

.dash {
    margin-top: -1rem;
    width: 100px;
    height: 10px;
    padding-bottom: 1rem;
    background: url(../images/line.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dash-left {
    margin-top: 0rem;
    width: 100px;
    height: 10px;
    padding-bottom: 1rem;
    background: url(../images/line.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 23%;
    transform: translateX(-50%);
}

.title-p {
    font-size: 21px !important;
    font-weight: 500 !important;
    padding: 5px 10px 4px;
    line-height: 2rem;
    /*color: rgb(70, 94, 106);*/
    color: #113a52 !important;
    font-family: "Barlow Semi Condensed", sans-serif !important;

}

.fantasy_area .fantasy_inner .fantasy a {

    color: #113a52 !important;

}

.fantasy_area .fantasy_inner .fantasy p {
    color: #113a52 !important;
}

.our_works_area .work_contant p {

    color: #113a52;
}

.color-gray {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 0px;
    line-height: 2em;
    margin: 0;
    color: rgb(70, 94, 106) !important;
}

.countarup_area {
    display: block;
    overflow: hidden;
    background: url(../images/countrap-bg-1.png) no-repeat left, url(../images/countrap-bg-2.png) no-repeat top right content-box;
    padding-top: 50px;
}

/*****scroll**/
.scroll-top {
    background: #177bb7;
    border-radius: 50%;
}

.scroll-top:hover {
    color: #177bb7;
    background: white;
    border: 1px solid #177bb7;
    border-radius: 50%;
    font-size: 2rem;
}

.our_works_area .work_slide .carousel-indicators {

    padding: 0px 0 !important;
    text-align: center;
    margin-top: -9%;

}

.our_works_area .work_img .work_img_2 {
    width: 400px;
    height: 300px;
    right: 30%;
    top: 130px;

}

.our_works_area .work_img .work_home_img:after {

    display: none !important;

}

.img-work-1 {
    widows: 400px !important;
    height: 300px !important;
}

.our_works_area .work_slide .carousel-indicators li {
    border-radius: 2rem;
    background: #60bedaab;
}

.our_works_area .work_slide .carousel-indicators li:hover,
.our_works_area .work_slide .carousel-indicators li:focus,
.our_works_area .work_slide .carousel-indicators li.active {
    /* background: #8f49f9; */
    width: 95px;
    background-color: #0c2949 !important;
    border-radius: 5rem;
}

/**************project********/
/**********footer************/
footer {
    background-color: #333333;
    padding-top: 90px;
    padding-bottom: 100px;
}

.contact_us .contact_inner h2 {
    font: bold 39px/44px "Barlow Semi Condensed", sans-serif;
    color: #0c2946;
    padding-bottom: 30px;
    max-width: 500px;
    display: block;
    text-align: center;
}

.contact_us .contact_inner .theme_btn {
    float: right;
    margin-top: 0px !important;
    border-radius: 10px;
    min-width: 214px;
    font-weight: 400;
}

.title-footer {
    font-size: 22px;
    font-family: "Barlow Semi Condensed", sans-serif !important;
    color: white !important;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    letter-spacing: 1;
    text-transform: capitalize;
}

.title1-footer {
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    color: rgb(204, 204, 204);
    font-weight: bold;
    line-height: 1.467;
    text-align: left;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.date {
    font-size: 13px;
    font-family: "CreteRound";
    color: rgb(136, 136, 136);
    font-style: italic;
    line-height: 1.077;
    text-align: left;
    margin-top: 10px;
}

.divider-footer {
    border: 1px dotted #484848;
    margin-top: 24px;
    margin-bottom: 24px;
}

.number-footer {
    font-size: 28px;
    font-family: "Raleway";
    color: rgb(204, 204, 204);
    font-weight: bold;
    line-height: 0.75;
    text-align: left;
    margin-bottom: 9px;
}

.mb-45 {
    margin-bottom: 45px;
}

.height30 {
    height: 30px;
}

.mt-45 {
    margin-top: 45px;
}

.pt-45 {
    padding-top: 38px;
}

.pb-40 {
    padding-bottom: 43px;
}

.mr-8 {
    margin-right: 18px;
}




/*********copycright******/
.copyright {
    width: 100%;
    min-width: 100%;
    
    background-color: rgb(187, 187, 187);
    bottom: 0;
    top: auto;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: rgb(90, 90, 90);
}

.love {
    display: inline-block;
    background-color: rgb(187, 187, 187);
    margin: 5px;
    margin-top: 3px;
    font-size: 1.5em;
    color: red;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
    to {
        -webkit-transform: scale(1.2);
    }
}

@-moz-keyframes love {
    to {
        -moz-transform: scale(1.2);
    }
}

@keyframes love {
    to {
        transform: scale(1.2);
    }
}

/*********fin******/

.mr-20 {
    margin-right: 20px;
}

.mr-6 {
    margin-right: 6px;
}

.ml-6 {
    margin-left: 6px;
}

.mt-18 {
    margin-top: 18px;
}

.bg-mail {
    height: 34px;
    background-color: #292929;
    border: 1px solid #292929;
}

.padding-left-0 {
    padding-left: 0px;
}

.bg-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    height: 34px;
}

.mt20 {
    margin-top: 20px;
}

.pb-100 {
    padding-bottom: 100px;
}

/**************langage********/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.bg-caree {
    margin: 0 3px;
    background: #fafafa;
    text-align: center;
    border: solid 1px #eee;
}

#services>div>div.container.mb-5>section>div>div>div>img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    padding: 1rem;
}

body>footer>div>div>div>div.col-md-5.col-sm-12>img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#services>div>div.container.mt-5.mb-5.pt-5>section>div>div>div {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#services>div>div.container.mb-5>section>div>div>div>img:hover {
    filter: grayscale(0);

}

.portfolio_grid .protfoli_filter li:hover a,
.portfolio_grid .protfoli_filter li:focus a,
.portfolio_grid .protfoli_filter li.active a {
    color: #fff !important;
    background-color: #137ab7;
    padding: initial;
    font-size: 20px;

}

.portfolio_grid .protfoli_filter li a {
    font: 500 23px/50px "Barlow Semi Condensed", sans-serif;
    color: #0c2949;
}

.portfolio_grid .pi_3 .portfolio_item:after {

    background-color: rgba(83, 166, 206, 0.651);
}

.portfolio_grid .pi_3 .portfolio_item:before {
    background-color: rgba(83, 166, 206, 0.651);
}

.portfolio_grid .pi_3 .portfolio_item .portfolio_hover:after {
    background-color: rgba(83, 166, 206, 0.651);
}

.portfolio_grid .pi_3 .portfolio_item .portfolio_hover:before {
    background-color: rgba(83, 166, 206, 0.651);
}

.breadcrumb {
    padding: 22rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
    background: url(../images/com.png);
    background-size: cover;

}

body>section>div>div>div>nav>ol>li.breadcrumb-item.active {
    color: white;
    font-size: 1.5rem;
}

body>section>div>div>div>nav>ol>li:nth-child(1) {
    font-size: 1.5rem;
}

body>div.container>div {
    padding-top: 28rem;
}

/**tabs***/
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: #137ab7;
    padding: .5rem 1rem;
    font-size: 20px;
}

#v-pills-tab {
    color: #0c2949 !important;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    margin-left: 20%;
    margin-top: 3rem;
}

.title-sm {
    text-transform: capitalize !important;
    font-size: 25px !important;
    letter-spacing: 0px !important;
    line-height: 1em !important;
}

.portfolio_grid {
    padding: 10px 0 50px;
}

/*#v-pills-profile,
#v-pills-messages,
#v-pills-settings,
#v-pills-home,
#v-pills-sett>img */
.img-filter {
    filter: sepia(86%) hue-rotate(190deg) saturate(140%);
    width: 70%;
    text-align: center;
    left: 26%;
    position: sticky;
    margin-bottom: 20px;
}

/***contact****/
.bg-formulaire {
    padding: 5rem;
    /* padding-left: 0; */
    background: url(../images/bg.png) #137ab7;
    background-size: contain;
}

.fantasy_inner {
    max-width: 1546px;
    margin: auto !important;
}

/***********responsive***************/
/**  Medium devices (tablets, 768px and up)**/
/** Extra large devices (large desktops, 1200px and up)**/

@media (max-width: 768px) {
    .bg-navbar {
        background-color: red !important;
    }

    div.container1 {
        text-align: center;
        display: grid;
    }

    body>nav>a>img {
        width: 100px !important;
    }

    body>nav>a {
        margin-left: 2rem;
    }

    .fa_2 {

        margin-top: -12rem;
    }

    body>img {
        margin-top: 3rem !important
    }

    .our_works_area .work_img {
        padding-bottom: 50px;
    }

    .our_works_area .work_slide .carousel-indicators {
        margin-top: 0%;
    }

    .banner_area p {
        font-size: 20px !important;
    }

    .normal-btn {
        margin-bottom: 12px;
        margin-top: 20px;
        color: white;
        padding: 0px 20px !important;
        font-size: 15px;
        float: right !important;
    }

    .fa_2 {

        margin-top: -13rem;
    }

    .team-text {
        bottom: 0px;
    }

    .team .container {
        padding: 0px !important;
    }

    .title-text span {
        font-size: 24px;
        line-height: 1em;

    }

    #v-pills-tab {
        font-weight: 500;
        font-size: 16px;
        margin-left: 0;
        margin-top: 1rem;
    }

    .dash {
        margin-top: 0.5rem;
    }


    .color-gray {
        font-size: 23px !important;
    }

    .countarup_area .mt {
        margin-top: 50px;
    }

    .countarup_area .countraup_item h3 {
        font: 700 22px/1 "Barlow Semi Condensed", sans-serif;
    }

    .contact_us .contact_inner h2 {
        font: 500 31px/44px "Barlow Semi Condensed", sans-serif;
    }

    div.container1 a {
        font-weight: 500;
        font-size: 15px;
    }

    .team {
        margin-right: 0;
        margin-left: 0;
    }

    .color-gray {

        font-size: 1rem !important;
        letter-spacing: 0px;
        line-height: 0em;
        text-shadow: 0 .5rem 1rem !important;
        margin: 0;
        color: rgb(70, 94, 106) !important;
    }

    .breadcrumb {
        padding: 22px;
        padding-top: 5rem;
        padding-bottom: 2rem;

    }

    body>section>div>div>div>nav>ol>li:nth-child(1) {
        font-size: 1rem;
    }

    body>section>div>div>div>nav>ol>li.breadcrumb-item.active {
        font-size: 1rem;
    }
}

/**Large devices (desktops, 992px and up)**/
@media (min-width:768px) and (max-width: 992px) {
    .bg-navbar {
        background-color: green !important;
    }

    .breadcrumb {
        padding-top: 11rem;
        padding-left: 2rem;
    }

    div.container1 {
        text-align: center;
        display: grid;
    }

    body>nav>a {
        margin-left: 3rem;
    }

    .fa_2 {

        margin-top: -12rem;
    }

    body>nav>a>img {
        width: 100px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .bg-navbar {
        background-color: pink !important;
    }


    .breadcrumb {
        padding: 20rem 2rem;
        padding-bottom: 2rem;
        padding-top: 15rem;
    }

    body>nav>a {
        margin-left: 3rem !important;
    }

    div.container1 {
        text-align: center;
        display: inline;
        padding: 16px;
    }

    div.container1 a {
        font-size: 20px;
        font-weight: 600;
    }

    body>nav>a {
        margin-left: 4rem !important;
    }


    .banner_area .bannar_img {

        width: 25rem !important;
    }

    body>nav>a>img {
        width: 150px;
    }
}

@media (min-width:1200px) {

    body>div.container>div>div.row>div.col-12.text-center.mt-5 {
        margin-left: 22%;
    }

    .pg_2 .portfolio_tittle {
        margin-left: 13rem;
    }
}